.image {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
        width: 40px;
        border-radius: 6px;
    }

    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        line-height: 36px;
        height: 40px;
        width: 40px;
        border: 2px solid var(--skin-color);
        font-size: 24px;
        border-radius: 50%;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--skin-color);
    }
}