@mixin link-item($fontWeight) {
    color: var(--text-black-600);
    font-weight: $fontWeight;
}

.about-img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;


    .img-box {
        padding: 15px;
        border-radius: 5px;
    }

    img {
        width: 100%;
        border: 10px solid transparent;
        border-radius: 5px;
        height: auto;
    }

    .social-links {
        margin-top: 20px;
        text-align: center;

        a {
            display: inline-block;
            height: 40px;
            width: 40px;
            font-size: 18px;
            text-align: center;
            line-height: 40px;
            color: var(--text-black-600);
            margin: 0 4px;
            border-radius: 50%;
            transition: all 0.3s ease;

            i {
                line-height: 40px;
                display: inline-block;
            }

            &::after {
                border-radius: 50%;
            }

            &:hover {
                color: var(--skin-color);

                svg {
                    fill: var(--skin-color);
                }
            }

            svg {
                position: absolute;
                top: 11px;
                left: 11px;
                margin: 0 auto;
                text-align: center;
                line-height: 10px;
                color: white;
                fill: var(--text-black-600);
            }
        }
    }
}

.about-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;

    .portfolioPage {
        @include link-item(bold);
    }

    .email {
        @include link-item(600);
    }

    span {
        font-weight: 600;
    }

    .btn-1 {
        margin: 30px 20px 0 0;
    }
}

.about-tabs {
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    text-transform: capitalize;

    .tab-item {
        display: inline-block;
        margin: 0 5px 10px;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 30px;
        transition: all 0.3s ease;
        font-size: 16px;
        color: var(--text-black-600);
        font-weight: 500;
        text-align: center;

        &:hover:not(.active) {
            opacity: 0.6;
        }

        &.active {
            color: var(--skin-color);
        }
    }
}

.tab-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;

    &.active {
        display: block;
        animation: fadeInTop 0.5s ease;
    }
}




@import "./responsive/about";
@import "./skills";
@import "./education-experience.scss";