@use "sass:meta";
@mixin link-item($fontWeight) {
    color: var(--text-black-600);
    font-weight: $fontWeight;
}

.new-edu-timeline{
    margin-bottom: 100px;
}

@include meta.load-css("../../../about/styles/education-experience.scss");
@include meta.load-css("responsive/edu-exp_dah.scss");