@media (max-width: 1024px) {
    .dashboard-section {
        padding: 80px 0 0;
    }
}

@media (max-width: 768px) {
    .btn-1 {
        font-size: 14px;
        padding: 10px 20px;
    }

    .btn-disabled{
        padding-left: 40px;
    }

    .edit-btn-container .editButton {
        font-size: 14px;
    }

    .add-content .modal-skill-item {
        max-width: 90%;
    }
}

@media (max-width: 574px) {
    .dashboard-section {
        .container .section-title {
            text-align: center;
        }
    }

    .upload-container {
        border: 2px dashed #80808091;
    }

    .file-info-container {
        height: 120px;
    }

    .file-info-container .file-info {
        height: 100px;
    }

    .file-info-container .file-info .file-progress{
        height: 18px;
    }
    
    
    .modal-btn{
        button{
            padding: 10px 15px;
        }
        .btn-disabled{
            padding-left: 40px;
        }
    }
}

@media (max-width: 350px) {
    .input-group .input-control {
        font-size: 14px;
    }

    select {
        font-size: 14px;
    }

    .input-group .delete-icon {
        width: 28px;
    }

    .file-info-container .file-info .file-progress .progress-bar{
        height: 4px;
    }


    
}