@media(max-width: 991px) {
    .certificate-section .certificate-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 768px) {
    .certificate-section .certificate-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
}