.add-content{
    .model-skill-item {
        position: relative;
        padding: 0 15px;
        margin-bottom: 40px;
    
        .delete-icon {
            position: absolute;
            font-size: 18px;
            top: 0px;
            right: -20px;
            line-height: 84px;
        }
    
    }
}

.skill-not-found-msg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 24px;
        color: var(--text-black-600);
    }
}