.add-sociallink-container {
    padding: 0px 50px;

    .selectSocial {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 30px;

        select {
            border-radius: 4px;
            outline: 0;
            box-shadow: none;
            background: var(--bg-black-50);
            background-image: none;
            flex: 1;
            padding: 12px 15px;
            color: var(--text-black-700);
            cursor: pointer;
            font-size: 16px;
            text-transform: capitalize;
            border: 0.1px solid rgb(187 187 187 / 60%);
            border-radius: 10px;

            &::-ms-expand {
                display: none;
            }

            &::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background: #2b2e2e;
                cursor: pointer;
                pointer-events: none;
                transition: .25s all ease;
            }

            &:hover::after {
                color: #23b499;
            }

            option {
                padding: 10px;
                border: none;
                border-radius: 0px;
            }
        }
    }

    .link-container {
        margin: 30px 10px 10px;
        overflow-y: auto;
        max-height: 500px;
        padding: 5px 15px;
    }

    .socialLink-label {
        font-size: 20px;
        color: var(--text-black-900);
        margin: 10px 0px;
    }

    .add-link-btn {
        margin: 10px;
        float: right;
    }
}