.add-content {
    .modal-skill-item {
        position: relative;
        padding: 0 15px;
        margin-bottom: 40px;
        max-width: 92% !important;

        input[type="range"] {
            left: -2px;
            width: 100%;
        }

        .delete-icon {
            position: absolute;
            font-size: 18px;
            top: 0px;
            right: -20px;
            line-height: 84px;
        }

        .progress-meter {
            position: absolute;
            height: 6px;
            background-color: var(--text-black-600);
            margin: 0px 7px;
            top: 7px;
            // z-index: 1;
            border-radius: 10px;
        }
    }
}

.skill-not-found-msg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 24px;
        color: var(--text-black-600);
        text-align: center;

        span {
            font-weight: 600;

        }
    }
}