@media(max-width: 991px) {
    .portfolio-section .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 768px) {
    .portfolio-section .portfolio-item{
        flex: 0 0 100%;
        max-width: 100%;
    }

}