.textarea-group {
    height: 84%;
    border-radius: 5px;
    position: relative;
    margin: 0 0 25px;
    transition: all 0.3s ease;

    &.disabled{
        background: var(--bg-disabled);
        cursor: not-allowed;
    }

    &::after {
        border-radius: 5px;
    }

    .text-editor {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        outline: none;
        border: none;
        font-size: 18px;
        color: var(--text-black-600);

        >ol,
        ul {
            margin-left: 40px;
        }

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: disc;
        }

        u {
            text-decoration: underline;
        }

        code {
            font-size: 16px;
            background: var(--bg-black-100);
            border-radius: 2px;
            padding: 0px 4px;
        }

        hr {
            margin-bottom: 5px;
        }

        a {
            color: var(--skin-color);
        }

        h2>strong,
        h3>strong {
            font-weight: 600;
        }
    }

    .toolbar-container {
        width: 100%;
        padding: 5px 0px 10px;
        position: relative;
        border-radius: 5px 5px 0px 0px;

        .toolbar {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 10px;
            padding: 2px 5px 2px;

            svg {
                outline: none;
                border: none;
                background: no-repeat;
                font-size: 25px;
                cursor: pointer;
                color: rgb(128 128 128);

                &.active {
                    border: 1px solid var(--text-black-600);
                    border-radius: 5px;
                }

                &:hover {
                    border: 1px solid var(--text-disabled);
                    border-radius: 5px;
                }
            }
        }
    }

    .toolbar-container.disabled {
        background: var(--bg-disabled);

        svg {
            color: var(--text-disabled);
            cursor: not-allowed;

            &:hover {
                border: none;
            }
        }
    }

    #editor-text-area {
        display: none;
        pointer-events: none;
    }
}