@mixin inputControl($inputField: true) {
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    color: var(--text-black-700);

    @if $inputField {
        padding-left: 45px;
    }
}

.field-label {
    padding-bottom: 5px;

    label {
        color: var(--text-black-600);
    }
}

.input-group {
    position: relative;
    margin: 0 0 25px;
    transition: all 0.3s ease;
    border-radius: 30px;

    &::after {
        border-radius: 30px;
    }

    .input-control {
        @include inputControl($inputField: true)
    }

    span {
        position: absolute;
        line-height: 50px;
        color: var(--skin-color);
        left: 15px;
        font-size: 18px;
    }

    textarea {
        &.textarea-control {
            @include inputControl($inputField: false);
            height: 184px;
            padding-top: 15px;
            resize: none;
            line-height: 1.8;
            height: 100%;
            border-radius: 5px;
        }
    }

}

.textarea-group {
    height: 80%;
    border-radius: 5px;

    &::after {
        border-radius: 5px;
    }
}

.text-editor {
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    outline: none;
    border: none;
    font-size: 18px;
    color: var(--text-black-600);
    
    >ol,
    ul {
        margin-left: 40px;
    }

    ol{
        list-style-type: decimal;
    }
    ul{
        list-style-type: disc;
    }
    
    u {
        text-decoration: underline;
    }

    code {
        font-size: 16px;
        background: var(--bg-black-100);
        border-radius: 2px;
        padding: 0px 4px;
    }

    hr {
        margin-bottom: 5px;
    }

    a {
        color: var(--skin-color);
        text-decoration: underline;
    }

    h2>strong,
    h3>strong {
        font-weight: 600;
    }
}

.toolbar-container {
    width: 100%;
    padding: 5px 0px 10px;
    position: relative;

    .toolbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;

        svg {
            outline: none;
            border: none;
            background: no-repeat;
            font-size: 25px;
            cursor: pointer;
            color: var(--skin-color);

            &.active {
                border: 1px solid #80808091;
                border-radius: 5px;
            }
        }
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     bottom: 2px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 100%;
    //     height: 0.1px;
    //     z-index: -1;
    //     box-shadow: 0px 4px 20px 20px rgb(0 0 0 / 1%), 0 2px 3px 0px rgb(0 0 0 / 25%);
    // }
}